<div class="container">
<h1>Add your favorite!</h1>
  <%= simple_form_for @restaurant do |f| %>
    <%= f.input :name, label: 'Enter name' %>
    <%= f.input :address, label: 'Enter address'  %>
    <%= f.input :phone_number, label: 'Enter phone number' %>
    <%= f.input :category, label: 'Choose category', collection: %w{Chinese Italian Japanese French Belgian} %>
    <%= f.button :submit %>
  <% end %>
</div>
